<div *ngIf="a">
<div>
        <div class="recipt"><span>Receipt number 1 - Table 1</span></div>
        <div class="table">
          <span class="name"(click)="order()">Table <br>open</span>  
        </div>
        <div class="chair" style=" margin-left: 861px;  margin-top: -102px;"></div>
        <div class="chair" style=" margin-left: 1139px;
        margin-top: -54px;"></div>
        <div class="chair" style=" margin-left: 1000px;
        margin-top: -159px;"></div>
        <div class="chair" style="margin-left: 1000px;
        margin-top: 173px;"></div>


    </div>

    <div>
        <div class="recipt"><span >Receipt number 2 - Table 1</span> </div>
        <div class="table"> <span class="name" (click)="order()"> Table <br>open</span> </div>
        <div class="chair" style=" margin-left: 861px;  margin-top: -102px;"></div>
        <div class="chair" style=" margin-left: 1139px;
        margin-top: -54px;"></div>
        <div class="chair" style=" margin-left: 1000px;
        margin-top: -159px;"></div>
        <div class="chair" style="margin-left: 1000px;
        margin-top: 173px;"></div>


    </div> 
  </div>