<div style="display:flex;"><button  [style.background]="a" (click)="clickss()">SELECT TOPPINGS </button>
    <button [style.background]="b" (click)="clicks()">SELECT SIZE</button></div>
    <form action="" *ngIf="c">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    <label for="vehicle1" > cheese</label><br>
    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car" [(ngModel)]="s">
    <label for="vehicle2"> saucse</label><br>
    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
    <label for="vehicle3"> capsicum</label><br>
    </form>

    <form action=""  *ngIf="d">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    <label for="vehicle1"> Small</label><br>
    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
    <label for="vehicle2"> Medium</label><br>
    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
    <label for="vehicle3"> Large</label><br><br><br>

    <button (click)="next()">next</button>
    </form>



    