   
<div class="container">
  
  <div class="top"></div>
     
   
  <input type="text" id="result"  value="£12" disabled>
  <div class="flex-container">
      <input type="button" value="" />  
      <input type="button" value="" />  
      <input type="button" value="" />   
    </div>
    <div class="flex-container">
      <input type="button" value="" style="
      border-radius: 10px; height: 88px;"/> 
      <input type="button" value=""style="
      border-radius: 10px; height: 88px;" />   
      <input type="button" value="£"  style="height: 205px;
      border-radius: 10px;font-size:62px;" (click)="status()"/> 
      
    </div>
  
    <div class="flex-container" style="margin-top: -109px;
    margin-left: 49px;
    position: absolute;">
      <input type="button" value="" style="
      border-radius: 10px; height: 88px;"/> 
      <input type="button" value="" style="
      border-radius: 10px; height: 88px;"/>  
       
    </div>