form{
    margin: 20px 0;
}
form input, button{
    padding: 13px;
}
table{
    width: 61%;
    margin-bottom: 20px;
    border-collapse: collapse;
}
table, th, td{
    border: 5px double silver;
}
table th, table td{
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) {
background-color: #dddddd;
}