
<h1>STUDENT DETAILS</h1>
    
    <table>
        
        <thead>
            <tr>
               
                <th>Name</th>
                <th>ADDRESS</th>
                <th>PHONE NO</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
               
                <td>Peter Parker</td>
                <td>HYDERBAD</td>
                <td>86XXXXXXXX</td>
               
 
            </tr>
            <tr>
               
                <td>Peter Parker</td>
                <td>HYDERBAD</td>
                <td>86XXXXXXXX</td>
 
            </tr>
        </tbody>
    </table>
   
    
                           