 <form action="/action_page.php" *ngIf="j">
        <label for="sname">Search customer</label><br><br>
             <input type="text" id="sname" name="lname" placeholder="Email"><br><br>
      </form> <br><br> 
    <hr>
    <form action="/action_page.php">
        
        <input type="text" id="fname" name="fname" placeholder="Enter customer name"><br>
       <br>
       <input type="text" id="lname" name="lname" placeholder="Phone"><br><br>
        <input type="text" id="lname" name="lname" placeholder="Email"><br><br>

        <input type="submit" value="Add customer" style="width: 175px;
        background-color: #cccccc;
       " (click)="pos()">
      </form>   
      <router-outlet></router-outlet>