
<div class="fluid-container bg-secondary  " style="padding:55px">
  <div class="title" >{{TITLE}}</div>
  

<div class="containers ">
  <form >
    <label style ="
    font-size: 12px;
    margin-bottom: 12px;" ><span style="  margin-left: -217px;
    position: absolute;">BEAL ID <sup>*</sup></span> <Span style="margin-left: -64px;
    position: absolute;">Layer</Span> <span style="margin-left: 84px;
    position: absolute;">Eniviroment</span></label>
      
      
      <div class=" d-flex p-4 justify-content" style=" margin-top: -17px;">
        <input class="form-control" type="number" name="number"  id=fleid /> <select class="form-control" id="sel1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
      <select class="form-control" id="sel1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
      <div class="form-group p-4">
        <label style ="margin-left: -224px;
        margin-top: -29px;
        position: absolute;" for="sel3">Entity Name</label><select class="form-control" id="sel3">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select></div>
      <label style ="
         font-size: 12px;
    margin-top: -27px;
    position: absolute;" ><span style="  margin-left: -217px;
      position: absolute;">Entity Id </span> <Span style="margin-left: 6px;
      ">Entity Status</Span> </label>
      <div class="form-group d-flex p-4 "style="margin-top: -21px;"> <select class="form-control" id="sel1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
      <select class="form-control"  id="sel1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    
      <div class="form-group p-4" style="margin-top: -18px;">
        <label style ="    margin-left: -220px;
        margin-top: -32px;
        position: absolute;" for="sel4">Report Type</label><select class="form-control" id="sel4">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select></div>
      
      <div class="form-group"><button class="btn " type="submit" ngbButton>Generate Report</button></div></form>
</div> </div>
