

<nav class="navbar bg-custom ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"style="font-size: 29px; font-weight:bold" >Self Service Audit Portal</a>
    </div>
    
      
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" style="font-weight: 600;">Username  <img src="/assets/images/user-circle-regular.svg" alt="" srcset="" style="height: 35px;
        padding-right: 3px;">  <span class="glyphicon glyphicon-triangle-bottom"></span> </a></li>
    </ul>
  </div>
</nav>
  

<div class="navbar " style="border-bottom:1px solid grey;max-width:95%;margin:14px auto">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="font-size: 26px;">Entity User Listing Report   <span class="glyphicon glyphicon-menu-down"></span></a>
    </div>
    
    <ul class="nav  navbar-right " style="background:#436293;margin: 2px -13px;
    /* position: absolute; */
    padding: 3px">
      <li><a href="#">Report Filter  <span class="glyphicon glyphicon-menu-down"></span></a></li>
    </ul>
  </div>
</div>

<div class="navbar " style="max-width: 91%;margin: auto;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="font-size: 20px;">ACES- Access Control Execption System ()  </a>
    </div>
    
    <ul class="nav  navbar-right " >
      <li><select  id="sel" style="-webkit-appearance: none;font-size: 19px;
        font-weight: 500;">
        <option value="volvo">Export Option</option>
      </select><img src="/assets/images/file-excel-regular.svg" alt="" srcset="" style="position: absolute;
      height: 31px;
      margin-top: -3px;"></li>
    </ul>
  </div>
</div>


<table class="table table-striped" >
  <thead>
  <tr>
    <th scope="col">Beal id</th>
    <th scope="col">Entity Name</th>
    <th scope="col">Entity Id</th>
    <th scope="col">Entity Type</th>
    <th scope="col">Information Owner</th>
    <th scope="col">Cert Cycle</th>
    <th scope="col">Last Certifed</th>
    <th scope="col">Status</th>

  </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
  
    </tr>
    
  </tbody>
</table>