  button {
            border: 1px solid black;
    background-color: silver;
    margin-left: 20px;
    margin-top: 59px;
    padding: 7px;
    /* font-size: 10px; */
    font-size: 23px;
    font-family: cursive;
        }