
<h1>STUDENT DETAILS</h1>
    
    <table>
        
        <thead>
            <tr>
               
                <th>Name</th>
                <th>ADDRESS</th>
                <th>PHONE NO</th>
                <th style="width: 14%;"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
               
                <td>Peter Parker</td>
                <td>HYDERBAD</td>
                <td>86XXXXXXXX</td>
                <td style="width: 14%;"><button type="button" class="delete-row">Delete Row</button></td>
 
            </tr>
            <tr>
               
                <td>Peter Parker</td>
                <td>HYDERBAD</td>
                <td>86XXXXXXXX</td>
                <td style="width: 14%;"><button type="button" class="delete-row">Delete Row</button></td>
 
            </tr>
        </tbody>
    </table>
    <form>
        <input type="text" id="name" placeholder="Name">
        <input type="text" id="ADDRESS" placeholder="ADDRESS">
        <input type="number" id="ADDRESS" placeholder="PHONE NO">
    	<input type="button" class="add-row" value="Add Row">
    </form>
    
    
                           